<div class="container">
    <app-header></app-header>
    <hr/>
    <router-outlet></router-outlet>
    <!--<app-messages></app-messages>-->
</div>





<!-- ngIf
    <button (click) = "onMudaMostrarElemento()">Click aqui se tiver coragem</button>
        {{mostrarElemento}}
        <div *ngIf = "mostrarElemento">
            <p>Sumiu?</p>
            <select id = "cboCidades">
                <option value="">Nenhuma</option>
                <option value="vix">Vitória</option>
                <option value="vv">Vila Velha</option>
            </select>
            <button>Click aqui</button>
-->